@page
@model SE1726_NET_SWP391_Group5.Pages.VoucherModel
@using Models
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/admincss/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()">
    <!-- Navbar-->
    <!-- Sidebar menu-->
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Voucher List</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-add btn-sm" asp-page="CreateVoucher" title="Add">
                                    <i class="fas fa-plus"></i>
                                    Create voucher
                                </a>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Voucher ID</th>
                                    <th>Voucher code</th>
                                    <th>Discount</th>
                                    <th>Expired date from</th>
                                    <th>Expired date to</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.voucherList)
                                {
                                    <tr>
                                        <td>@item.VoucherId</td>
                                        <td>@item.VoucherCode</td>
                                        <td>@item.Discount</td>
                                        <td>@item.ExpDateFrom</td>
                                        <td>@item.ExpDateTo</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm trash" type="button" title="Delete">
                                                <a asp-page-handler="DeleteVoucher" asp-route-id="@item.VoucherId"><i class="fas fa-trash-alt"></i></a>
                                            </button>
                                            <button class="btn btn-primary btn-sm edit" type="button" title="Edit" id="show-emp" data-toggle="modal"
                                                    data-target="#ModalUP@(item.VoucherId)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="ModalUP@(item.VoucherId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                                         data-keyboard="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <form method="post">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group  col-md-12">
                                                                <span class="thong-tin-thanh-toan">
                                                                    <h5>Edit voucher</h5>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Voucher ID</label>
                                                                <input class="form-control" type="number" name="voucherID" value="@item.VoucherId" readonly>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Voucher code</label>
                                                                <input class="form-control" type="text" name="vouchercode" required value="@item.VoucherCode">
                                                            </div>
                                                            <div class="form-group  col-md-6">
                                                                <label class="control-label">Discount</label>
                                                                <input class="form-control" type="number" name="discount" required value="@item.Discount">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Expired date from</label>
                                                                <input class="form-control" type="datetime-local" name="startDate" value="@item.ExpDateFrom">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Expired date to</label>
                                                                <input class="form-control" type="datetime-local" name="endDate" value="@item.ExpDateTo">
                                                            </div>
                                                        </div>
                                                        <BR>
                                                        <button class="btn btn-save" type="submit">Save</button>
                                                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Cancel</a>
                                                        <BR>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Essential javascripts for application to work-->
    <script src="~/adminjs/jquery-3.2.1.min.js"></script>
    <script src="~/adminjs/js/popper.min.js"></script>
    <script src="~/adminjs/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/adminjs/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/adminjs/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/adminjs/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/adminjs/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Sunday;
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " hour " + m + " minute " + s + " second";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }
    </script>
    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
        }
        oTable = $('#sampleTable').dataTable();
        $('#all').click(function (e) {
            $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
            e.stopImmediatePropagation();
        });
    </script>
</body>

</html>
