@page
@using SE1726_NET_SWP391_Group5.Cookies;
@model SE1726_NET_SWP391_Group5.Pages.Cart.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var orders = Class.GetCartInfo(HttpContext);
}

<div style="margin-top:50px;">
    @if (Model.HasItemsInCart)
    {
        @if (this.ViewBag.Error != null)
        {
            <p style="color:red;text-align:center">@ViewBag.Error</p>
        }

    }
    else
    {
        <p style="color:red;text-align:center">@ViewBag.Error</p>
    }

    @foreach (var i in orders.Values)
    {
        <div style="background-color:antiquewhite; height:100px; margin-top:10px; display:flex; align-items:center;">
            <div style="width:10%; text-align:center;">
                <img style="height: 80px; width:60px; background-color:aliceblue;" />
            </div>
            <div style="width:30%; margin-left:20px;">
                @i.Product.ProductName
            </div>
            <div style="width:20%;">
                @i.Product.UnitPrice
            </div>
            <div style="width:20%;">
                <form style="margin:0 20px; text-align:center;" id="changeForm-@i.ProductId" method="post" asp-page-handler="ChangeQuantity">
                    <input name="productId" value="@i.ProductId" hidden />
                    <input type='number' min="1" value="@i.Quantity" name="quantity" style="width:60px; text-align:center;" onchange="document.getElementById('changeForm-@i.ProductId').submit()" />
                </form>
            </div>
            <div style="width:20%;text-align:center;">
                <form method="post" asp-page-handler="Delete">
                    <input name="productId" value="@i.ProductId" hidden />
                    <input type="submit" value="Delete" class="btn btn-success" />
                </form>

            </div>
        </div>
    }
</div>
<div style="margin-top:50px;">
    @if (Model.HasItemsInCart)
    {
        <div>
            <a asp-page="../Cart/Checkout" class="btn btn-success">Checkout</a>
        </div>
    }
</div>
