@page
@model SE1726_NET_SWP391_Group5.Pages.Seller.OrderModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background: gray;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .action-buttons {
        text-align: center;
    }

    .accept-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
    }

    .reject-button {
        background-color: #FF5733;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }
</style>
<h1 style="text-align:center">
    List order
</h1>
<form method="" id="myForm" style="text-align: center">
    <select id="mySelect" name="SelectedId" onchange="submitForm()">
        @if (@TempData["SelectedId"] == null || @TempData["SelectedId"].Equals(0))
        {
            <option value="1">Pending</option>
            <option value="6">Cancel</option>
            <option value="2">Done</option>
        }
        else if (@TempData["SelectedId"].Equals(2))
        {
            <option value="2">Done</option>
            <option value="6">Cancel</option>
            <option value="1">Pending</option>
        }
        else if (@TempData["SelectedId"].Equals(6))
        {
            <option value="6">Cancel</option>
            <option value="2">Done</option>
            <option value="1">Pending</option>
        }
        else
        {
            <option value="1">Pending</option>
            <option value="6">Cancel</option>
            <option value="2">Done</option>
        }
    </select>
    <input type="hidden" name="selectedValue" id="selectedValue" value="">
    <input type="hidden" name="SelectedId" value="@TempData["SelectedId"]">
</form>

<table>
    <tr>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th>Accepted Date</th>
        <th>Delivery Date From</th>
        <th>Delivery Date To</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>Country</th>
        <th>Status</th>
    </tr>

    @if (Model.Orders.Count > 0)
    {
        @foreach (var o in Model.Orders)
        {
            <tr>
                <td>@o.Customer.Name</td>
                <td>@o.OrderDate</td>
                <td>@o.AcceptedDate</td>
                <td>@o.DeliveryDateFrom</td>
                <td>@o.DeliveryDateTo</td>
                <td>@o.Address</td>
                <td>@o.City</td>
                <td>@o.Region</td>
                <td>@o.Country</td>
                @if (o.Status == 1)
                {
                    <td class="action-buttons">
                        <form method="post" asp-page-handler="UpdateOrderStatus" asp-route-orderId="@o.OrderId" asp-route-newStatus="2" asp-route-status="@TempData["SelectedId"]">
                            <button class="accept-button" type="submit">Accept</button>
                        </form>
                        <form method="post" asp-page-handler="UpdateOrderStatus" asp-route-orderId="@o.OrderId" asp-route-newStatus="6">
                            <button class="reject-button" type="submit">Reject</button>
                        </form>
                    </td>
                }
                else if (o.Status == 6)
                {
                    <td style="color: red; text-align: center;">Cancel</td>
                }
                else
                {
                    <td style="color: green; text-align: center;">Done</td>
                }
                <td>@o.OrderId</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="12">
                <h2>Order list is empty</h2>
            </td>
        </tr>
    }
</table>

<script>
    function submitForm() {
        var selectElement = document.getElementById("mySelect");
        var selectedValue = selectElement.value;
        var hiddenInput = document.getElementById("selectedValue");
        hiddenInput.value = selectedValue;
        document.getElementById("myForm").submit();
    }
</script>