@page
@model SE1726_NET_SWP391_Group5.Pages.Shipper.Order.DetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["PageTitle"] = "Order Details";
    Models.Order ord = (Models.Order)ViewData["od"];

}
<style>
    #content-main-dashboard {
        width: 100%;
        border: 1px solid sandybrown;
    }

    #profile-content-order {
        width: 100%;
        border: 1px solid saddlebrown;
        margin: 0px 10px;
        background-color: #fff;
    }

    .profile-order-title {
        padding: 10px;
        border: 1px solid gainsboro;
        width: 97.5%;
        background-color: #f5f5f5;
        display: flex;
    }

    .profile-order-title-left {
        width: 50%;
    }

    .profile-order-title-right {
        width: 50%;
        text-align: right;
        font-weight: bold;
        color: #ee2e24;
    }

    .profile-order-content {
        width: 100%;
        display: flex;
        border-bottom: 1px solid gainsboro;
    }

    .profile-order-content-col1 {
        width: 10%;
        padding-left: 20px;
    }

    .profile-order-content-col2 {
        width: 45%;
    }

    .profile-order-content-col3 {
        width: 15%;
    }

    .profile-order-content-col4 {
        width: 15%;
        text-align: right;
        padding-right: 10px;
    }

    .profile-order-content-col5 {
        width: 15%;
        text-align: right;
        padding-right: 10px;
    }

    .content-main {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap
    }

    *, *:after, *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans";
    }


    /* Form Progress */
    .progress {
        width: 1000px;
        margin: 20px auto;
        text-align: center;
    }

        .progress .circle,
        .progress .bar {
            display: inline-block;
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            border: 1px solid #d5d5da;
        }

        .progress .bar {
            position: relative;
            width: 80px;
            height: 6px;
            top: -33px;
            margin-left: -5px;
            margin-right: -5px;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        .progress .circle .label {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 32px;
            margin-top: 3px;
            color: #b5b5ba;
            font-size: 17px;
        }

        .progress .circle .title {
            color: #b5b5ba;
            font-size: 13px;
            line-height: 30px;
            margin-left: -5px;
        }

        /* Done / Active */
        .progress .bar.done,
        .progress .circle.done {
            background: #eee;
        }

        .progress .bar.active {
            background: linear-gradient(to right, #EEE 40%, #FFF 60%);
        }

        .progress .circle.done .label {
            color: #FFF;
            background: #8bc435;
            box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        }

        .progress .circle.done .title {
            color: #444;
        }

        .progress .circle.active .label {
            color: #FFF;
            background: #0c95be;
            box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        }

        .progress .circle.active .title {
            color: #0c95be;
        }
</style>
@{
    int progress = 0;

    @switch (ord.Status)
    {
        case 1:
            progress = 25;
            break;
        case 2:
            progress = 50;
            break;
        case 3:
            progress = 75;
            break;
        case 4:
            progress = 100;
            break;
        case 5:
            progress = 100;
            break;
    }
}
<h1 style="text-align:center;font-weight:bold">ORDER DETAIL</h1>
<div class="content-main">
    <div id="content-main-dashboard" >
        <a class="btn btn-primary" href="./List">
            Back to List
        </a>
        <div>
            <div class="row">
                <div style="width:100%">
                    <div class="progress">
                        <div class="progress-bar @(ord.Status == 5 ? "bg-danger" : "")" role="progressbar" style="width: @progress%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display:flex; justify-content: space-evenly;width:100%">
                        <div style="witdh:20%; ">
                            Submit Order
                        </div>
                        <div style="witdh:20%; " >
                            Pending
                        </div>
                        <div style="witdh:20%; " >
                            Accepted
                        </div>
                        <div style="witdh:20%; ">
                            Delivering
                        </div>
                        <div style="witdh:20%; ">
                            @(ord.Status == 5 ? "Unable to deliver" : "Delivered")
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-order-title">
                <div class="profile-order-title-left">
                    <div>Order ID: @ord.OrderId</div>
                    <div>Customer's Name: @ord.Customer.Name</div>
                    @*<div>Employee's Name: @ord.Employee.EmployeeName'</div>*@
                    <div>Shipper's Name: @ViewData["spname"]</div>
                    <div>Order Date: @ord.OrderDate</div>
                    <div>Accepted Date: @ord.AcceptedDate</div>
                    <div>Delivery Date From: @ord.DeliveryDateFrom</div>
                    <div>Delivery Date To: $@ord.DeliveryDateTo</div>
                    <div>Ship Address: @ord.Address</div>
                    <div>Ship City: @ord.City</div>
                    <div>Ship Region: @ord.Region</div>
                    <div>Ship Country: @ord.Country</div>
                    @switch (ord.Status)
                    {
                        case 1:
                            <div>Status: Pending</div>
                            break;
                        case 2:
                            <div>Status: Accepted</div>
                            break;
                        case 3:
                            <div>Status: Delivering</div>
                            break;
                        case 4:
                            <div>Status: Delivered</div>
                            break;
                        case 5:
                            <div>Status: Unable to deliver</div>
                            break;
                    }
                </div>
                <div class="profile-order-title-right">
                    @if (@ord.DeliveryDateTo != null)
                    {
                        <span style="color: green;">Delivered</span>
                    }
                    else
                    {
                        <span style="color: red;">Delivering</span>
                    }
                </div>
            </div>
            <div style="display:flex; justify-content: space-evenly;width:100%" >
               
                <a class="btn btn-primary" href="./Detail?status=4&id=@ord.OrderId">
                    Delivered
                </a>
                <a class="btn btn-primary" href="./Detail?status=5&id=@ord.OrderId">
                    Unable to deliver
                </a>
                 <a class="btn btn-danger" href="./Detail?status=2&id=@ord.OrderId">
                    Cancel
                </a>
            </div>
            <form method="post">
                @*<label>Note:</label>*@
                @*<input type="text" class="form-control" value="@ord.Note" name="note" />*@
                <input type="hidden" value="@ord.OrderId" name="id" />
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <h3>Product list of order</h3>
            @foreach (var o in ord.OrderDetails)
            {
                <div class="profile-order-content" style="background-color: white;">
                    <div class="profile-order-content-col2">@o.Product.ProductName</div>
                    <div class="profile-order-content-col3">Quantity: @o.Quantity</div>
                    <div class="profile-order-content-col4">$@o.UnitPrice</div>
                    @* <div class="profile-order-content-col5">Discount: @(o.Discount * 100)%</div> *@
                </div>
            }
            
        </div>
    </div>
</div>